HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# =========================
# 🔐 Variables de entorno
# =========================
.env
.env.*
*.env
*.env.*

# (por si guardas secretos/llaves)
*.secret
*.secrets
*.key
*.pem
*.p12
*.keystore

# =========================
# 📝 Logs y dumps
# =========================
logs/
*.log
*.sql      # si generas dumps locales, opcional

# =========================
# 🗂️ Archivos de SO
# =========================
.DS_Store
Thumbs.db

